pandas
numpy
scikit-learn
matplotlib
seaborn
category_encoders # For WoE/other categorical encoders
xverse # For WOE transformer
mlflow
pytest
fastapi # From Task 6
uvicorn # From Task 6
flake8 # From Task 6 (or black)
